body {
  padding-top: 50px;
  background-color: #f7f7f7;
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif; 
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.dynamicDiv {
background-color: #fff;
    /*box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);*/
	box-shadow: 6px 10px 4px 1px rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    transition-duration: 0.218s;
    transition-property: background, opacity, box-shadow, transform;
    transition-timing-function: ease-in;
	
	/*width: 230px;
	
    min-height: 150px;*/
    margin: 5px 150px 50px;
	padding: 5px;	
}

.feedsContainer{
	overflow: auto;
	background-color: inherit;
}
.addTask{
	max-width:300px;
	margin: 0 auto;
}
.form-control{
	margin-bottom:10px;
}

span{
	font-family:"Verdana";
  font-size:110%;
}
.edit{
	cursor: pointer;
	float: right;
}
.done{
	cursor: pointer;
	float: right;
}
.restore{
	cursor: pointer;
	float: right;
}
.remove{
	cursor: pointer;
	float: right;
	margin-left: 10px;
}
.thumb {
    height: 75px;
    border: 1px solid #000;
    margin: 10px 5px 0 0;
}
.imageDiv {
	float: left;
   margin: 5px;
}
.commentBox {
	float: left;
	width: auto;
	margin-right: 5px;
}

.tip {
  width: 0px;
  height: 0px;
  position: absolute;
  background: transparent;
  border: 10px solid #ccc;
}

.tip-right {
  top: 5px;
  right: -25px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;  
}

.tip-left {
  top: 5px;
  left: -25px;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;  
}

.dialogbox .body {
  position: relative;
  max-width: 300px;
  height: auto;
  margin: 5px 30px 5px 35px;
  background-color: #DADADA;
  border-radius: 3px;
  border: 5px solid #ccc;
}

.body .message {
  min-height: 30px;
  border-radius: 3px;
  font-family: Arial;
  font-size: 12px;
}

.share {
	/*border: 2px solid #dddddd;*/
	margin-bottom: 10px;
}
.left-comment-image {
margin-right: 25px;
}

.commentImage {
    margin-right: 5px;
    margin-top: 5px;
}

.commentImageLeft {
	float: left;
}
.commentImageRight {
	float: right;
	margin-right: 72px;
}
.like {
cursor: pointer;
}
.fa-heart::before {
color: red;
}