<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/style.css">
	<!--<link rel="stylesheet" href="../css/font-awesome.min.css">-->
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
	<link  href="http://fonts.googleapis.com/css?family=Reenie+Beanie:regular" rel="stylesheet" type="text/css">
	<!--<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js">
	</script>-->
	<script src="../js/angular.min.js"></script>
</head>
<body ng-app="feedApp" ng-controller="feedController">
	<!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Logo</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav pull-right">
            <li class="active"><a href="index.html">Hello, Default User</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>


	<div class="container">
	<div class="starter-template">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
			<form ng-submit="doPost(testFile)">
				<div class="share">
					<div class="panel panel-default">
						<div class="panel-heading">
							<i class="fa fa-file"></i>
								Update Status
						</div>
						<div class="panel-body">
							<textarea class="form-control" placeholder="What's on your mind, Saurabh?" ng-model="message"> </textarea>
						</div>	
						<div class="panel-footer">
								<div class="row">
									<div class="col-md-7">
										<div class="form-group">
											<div class="btn-group">											  		
											   <input type="file" ng-file-model="testFile" ng-model="testFile"/>
											</div>
										</div>
										<div class="row">
											   <img ng-src="{{testFile.data}}" alt="" width="150px;">
										</div>
									</div>
									<div class="col-md-5">
										<div class="form-group">                                  
											<input type="submit" class="btn btn-primary" value="Post" name="submit">                               
										</div>
									</div>
								</div>
						</div>					
					</div>
				
				</div>	
				</form>
		</div>
		</div>
	</div>
	</div>
	
	<div class="container theme-showcase" role="main">
      <div class="jumbotron feedsContainer">
			
			<div class="dynamicDiv" ng-repeat="feed in feeds | orderBy:'-' track by $index">
				<div class="imageDiv">
					<img src="../images/user.png" alt="" width="50px;">			
				</div>
					<div style="min-height: 120px;">		
					<div class="row">Default User</div>
						<br />	
							<span ng-bind="feed.message"></span>	
						<br />

							<img ng-if="feed.image" ng-src="{{feed.image}}" style="width:700px;">

						<hr />
							<div class="col-md-8">
							<div class="dialogbox" ng-repeat="comment in feed.cmt">
								<div class="commentImage" ng-class-even="'commentImageLeft'" ng-class-odd="'commentImageRight'"> 
   								 <img src="../images/user.png" alt="" width="25px;">
 								</div>
								<div class="body" ng-class-even="'left-comment-image'" ng-class-odd="'right-comment-image'">
									<span ng-class-even="'tip tip-left'" ng-class-odd="'tip tip-right'">	</span>
										<div class="message" >
     				  						<span>{{comment}}</span>
        								</div>
								</div>
							</div>
							
							
							<form ng-submit="doComment(feed)">
								<input type="text" class="form-control commentBox" placeholder="write a comment.." ng-model="feed.comment" />
								<input type="submit" class="btn btn-primary" value="post" />
							</form>
							</div>
							<div class="col-md-4">
								<span class="" ng-bind="feed.upVoteCount"></span>
								<i class="fa fa-heart like" aria-hidden="true" ng-click=upVote(feed)> Like</i>
							</div>
					</div>			
			</div>

		</div>
	</div>
	
<script src="../js/jquery-2.2.3.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/jquery-ui.min.js"></script>
<script src="../js/app.js"></script>
<script src="../directives/myFeed.directive.js"></script>
<script src="../js/controllers/myFeed.controller.js"></script>
</body>
